//
// MDC Theme
//

@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #FF9700;
$mdc-theme-secondary: #EFEFEF;
// Other Svelte color: #40b3ff

$mdc-theme-background: #FFFFFF;
$mdc-theme-surface: #FFFFFF;

$mdc-theme-error: $material-color-red-900;